# server {
# 	listen 80;
# 	server_name {{ domain_name }};
# 	location / {
# 		return 301 https://{{ domain_name }}$request_uri;
# 	}
# }
server {
    listen 80;
	# listen 443 ssl http2;
	server_name {{ domain_name }};
	root /apps/site/{{ domain_name }};
	# logs
	access_log /var/log/nginx/{{ domain_name }}.access.log;
	error_log /var/log/nginx/{{ domain_name }}.error.log warn;
    
	# # SSL
	# ssl_certificate /etc/nginx/ssl/{{ domain_name }}/fullchain.crt;
	# ssl_certificate_key /etc/nginx/ssl/{{ domain_name }}/privkey.key;
	# ssl_dhparam  /etc/nginx/ssl/dhparams.pem;
	# index.html fallback
	location / {
		try_files $uri $uri/ /index.html;
	}
	# # proxy
	# location / {
	# 	proxy_pass http://127.0.0.1:3000;
	# 	proxy_http_version	1.1;
    #     proxy_cache_bypass	$http_upgrade;
    #     proxy_set_header Upgrade			$http_upgrade;
    #     proxy_set_header Connection 		"upgrade";
    #     proxy_set_header Host				$host;
    #     proxy_set_header X-Real-IP			$remote_addr;
    #     proxy_set_header X-Forwarded-For	$proxy_add_x_forwarded_for;
    #     proxy_set_header X-Forwarded-Proto	$scheme;
    #     proxy_set_header X-Forwarded-Host	$host;
    #     proxy_set_header X-Forwarded-Port	$server_port;
	# }
}